################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BaiduPushDemo
/src/BaiduPushDemo/bin/Debug/netstandard2.0
/src/BaiduPushDemo/obj
/src/BaiduPushDemo.Android/bin/Debug
/src/BaiduPushDemo.Android/obj
/src/BaiduPush/obj
